<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand ms-3" href="#">Sluzba za zaposljavanje</span>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
    </ul>
  </div>
  <div class="bg-light clearfix">
    <a href="http://localhost:9090/authorize?redirect_uri=localhost%3A4200%2Fredirect&service=szz" *ngIf="!isLoggedIn()" type="button" class="btn btn-primary btn-navbar float-right">Login</a>
    <button (click)="logout()" *ngIf="isLoggedIn()" type="button" class="btn btn-danger btn-navbar float-right me-2">Logout</button>
  </div>
</nav>
